*{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{
    /*display: block;*/
    width: 100%;
    height: 100%;
}
a{
    color:#000000;
    text-decoration: none;

}
body{
    background: #f5f5f5;
}
.toubu{
    width: 100%;
    height: 60px;
    background: #ffffff;

}
.toubuson{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 200px;
    height: 100%;
    align-items: center;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #37474f;
    float: left;
}
.logo>i{
    width: 30px;
    height: 100%;
    display: block;
    font-size:30px;
    color: #000000;
    margin-left: 40px;
    float: left;
}
.daohang{
    width: 464px;
    height: 100%;
    /*background: red;*/
    float: left;
    margin-left: 100px;
}
.daohang>li{
    width: 92.8px;
    height: 100%;
    /*background: yellow;*/
    float: left;

}
.daohang>li>a{
    display: block;
    width: 100%;
    height: 100%;
    color:#2a333c;
    text-align: center;
    line-height: 60px;

}
#shouye{
    color:#62a8ea ;
}
.daohang>li>a:hover{
    color:#62a8ea ;
}
.denglu{
    width: 130px;
    height: 60px;
    /*background: red;*/
    float: right;
    margin-right: 60px;
}
.dzuo{
    width: 60px;
    height: 35px;
    float: left;
    margin-top: 12.5px;
}
.dzuo a{
    display: block;
    background: #46be8a;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
}
.zyou{
    width: 60px;
    height: 35px;
    /*background: red;*/
    float: left;
    margin-left: 10px;
    margin-top: 12.5px;
}
.zyou a{
    box-sizing: border-box;
    border: 1px solid #62a8ea;
    color: #62a8ea;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
    transition: all .2s;
}
.zyou a:hover{
    background:#62a8ea ;
    color: #ffffff;
}
/*博客*/
.cp{
    width:100%;
    height: 120px;
    background: #62a8ea;
    color: #ffffff;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
}
.bknr{
    width: 65%;
    height: 830px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow:0 5px 10px 5px #cccccc;
}
.nrbox{
    width: 100%;
    height: 130px;
    /*display: flex;*/

}
.left{
    width: 180px;
    height: 152px;
    margin-left: 60px;
    float: left;
}
.right{
    width: 636px;
    height: auto;
    padding-right: 60px;
    float: left;
}
.tupian{
    display: block;
    height: 120px;
    width: 160px;
}
h4{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    color: #37474f;
    margin-left: 30px;
}
h4:hover{
    color:#62a8ea ;
}
.right>p{
    margin-left: 30px;
    margin-top: 20px;
    color: #76838f;
    margin-bottom: 10px;
}
/*底部*/
.dibu{
    width: 100%;
    height: 100px;
    background: #f5f5f5;
    border-top: 1px solid #cccccc;
    margin-top: 60px;

}
.dibu>p{
    color: #aaaaaa;
    line-height: 1.8;
    text-align: center;
    margin-top: 10px;
}